@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
/*puxa no site a fonte*/

*{
    margin: 0;
    padding: 0;
}

:root { /*variaveis*/
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px; 
    
}

.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao{   /*main*/
    padding: 8% 15%/*laterais*/;
    display: flex; /*habilita a caixa flex*/
    align-items: center; /*centraliza o texto com base no elemento de maior altura*/
    justify-content: space-between; /*joga cada elemento filho para um lado e espaça um pouco no meio*/
    gap: 82px; /*da espaçamento esnte as informacoes, imagem e texto*/
}

.apresentacao__conteudo{
    width: 50%; /*preenche 50% da tela*/
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem; /*altera tamanho da fonte*/ /*rem torna o codigo responsivo, pega os pixels e divide por 16*/
    font-family: 'Krona One', sans-serif;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.0rem;
    font-family: 'Montserrat', sans-serif;
    width: 80%;
}

.apresentacao__links {
    display: flex;
    flex-direction: column; /* coloca em coluna oas informacoes*/
    justify-content: space-between;
    align-items: center;
    gap: 32px;                  /* centraliza os botões*/
}

.apresentacao__links__subtitulo{ /*estilizar botoes*/
    font-family: 'Krona One', 'sans-serif';
    font-weight: 400;
    font-size: 1.5rem;

}

.apresentacao__links__navegacao {
    /*background-color: #22D4FD;*/
    display: flex;
    justify-content: center;
    gap: 16px; /*espaçamento entre as palavras*/
    border: 2px solid var(--cor-terciaria);
    width: 50%; /*tornar responsiva*/
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: 'Montserrat', sans-serif;
    margin-right: 5%;
}

.apresentacao__links__link:hover{ /* tudo que estuver aqui dentro vai ser estilizado no links link, no caso com o passar do mouse*/
    background-color: --cor-hover;

}

.apresentacao__imagem {/* tornar responsivo*/
    width: 50%;
}

.rodape {
    padding: 24px; /*joga bem pra borda, sem margem*/
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: 'Krona One', 'sans-serif';
    font-size: 1.5rem;
    font-weight: 400;

}

/*se a largura da tela for menor que a largura maxima do prorama, vai ser aplicado o que esta dentro das chaves
se for maior, sera aplicado o padrao. Serve para condição*/
@media (max-width: 1000px){/*se a tela for menor que 1200px vai ativar eses comandos*/
   
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse; /*troca ordem dos elementos
        em vez de ficar em baixo a imagem vai ficar em cima*/
        padding: 5%;
    }
    
   .apresentacao__conteudo {
    width: auto;
   }
    
}

.apresentacao__conteudo__titulo {
    justify-content: center;
    padding: 10%;
    width: auto;
}

.apresentacao__conteudo__texto{
    justify-content: center;
    padding: 10%;
    width: auto;
}

.apresentacao__imagem{
    justify-content: center;
    padding: 10%;
    width: auto;
}